aws_region = "us-east-1"
deployment_prefix = "patient-portal"
appointment_image = "vikash3117/appointmentservice"
patient_image = "vikash3117/patientservice"
doctor_image = "vikash3117/doctorservice"
portal_image = "vikash3117/patient-portal"
image_tag = "latest"
